doctype html
html(lang="en")
  head
    link(href="/static/css/options.css", rel="stylesheet")
  body
    #options.col-sm-6.col-sm-offset-3
      span.title Extension Options
      p This is your extension's options page