doctype html
html(lang="en")
  head
    link(href="../static/css/popup.css", rel="stylesheet")
  body
    #popup
      span.title Majesti Ext
      ul
        li.option
          a(href="#") Option 1
          a(href="#") Option 2
          a(href="#") Option 3
          a(href="#") Option 4
          a(href="#") Option 5
          
    script(src="../static/js/popup.js")