body
  background-color: #FFF
  margin: 5px

  #popup
    width: 160px

    .title
      border-bottom: solid #CCC 1px
      display: inline-block
      font-size: 1.3em
      margin: 0 0 5px 0
      padding: 0 0 5px 0

    ul
      list-style-type: none
      margin: 0
      padding: 0

      li

        a
          border-radius: 2px
          color: #444
          display: block
          font-size: 1em
          margin: 0
          outline: none
          padding: 5px
          text-decoration: none
          transition: 0.2s ease background
          
          &:hover
            background-color: #FAFAFA
          &:active
            background-color: #F0F0F0
            transition: none
            